<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "IORGU SPRL" %></title>
    <%= stylesheet_link_tag "site" %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js',"//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js","all" %>
    <meta name="description" content="Iorgu sprl, habillage fenêtre et nettoyage" />

  </head>
  <body class="grey lighten-4">
    <nav class="white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><%= image_tag "logov2.png",height: 61 %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li class="black-text"><%= link_to "A-propos de nous","about",class: "black-text" %></li>

      <% if !current_page.data.navbar.nil? %>
        <% current_page.data.navbar.each do |link| %>
          <li><%= link_to link,link %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
<p></p>
<p></p>
<p></p>
<p></p>
<style>
  footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

  }
</style>

<footer class="page-footer grey darken-2 ">
<div class="container">
<div class="row">
<div class="col m6 s12">
<p class='white-text'>Justin Mihai Iorgu: <span>mjustin.iorgu@hotmail.com</span></p>
</div>
<div class="col m6 s12">
<p class='white-text'>Contactez-nous par téléphone: 0032 473 384 410</p>
</div>
</div>
</div>

<div class="footer-copyright grey darken-3">
<p style="font-size: 10pt;" class='white-text'>Created by Bauduin Jean-Christophe</p>
</div>
</footer>
  </body>
</html>
