<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "IORGU SPRL" %></title>
    <%= stylesheet_link_tag "site" %>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js',"//cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js","all" %>
    <meta name="description" content="Iorgu sprl, habillage fenêtre et nettoyage" />

  </head>
  <body class="grey lighten-4">
    <nav class="white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center"><%= image_tag "logov2.png",height: 61 %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      <% if !current_page.data.navbar.nil? %>
        <% current_page.data.navbar.each do |link| %>
          <li><%= link_to link,link %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
<p></p>
<p></p>
<style>
/*  footer{
    margin-top: 120px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

  }*/
    body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
</style>

<footer class="page-footer grey darken-2 ">
<div class="container">
<div class="row">
<div class="col m4 s12" class='white-text' style="font-size: 12pt;color:white;margin-top: 50px;">
Contact : Justin Mihai Iorgu
</div>
<div class="col m4 s12" class='white-text' style="font-size: 12pt;color:white;margin-top: 50px;">
<span><a href="mailto:mjustin.iorgu@hotmail.com">mjustin.iorgu@hotmail.com</a>
</span>
</div>
<div class="col m4 s12" class='white-text' style="font-size: 12pt;color:white;margin-top: 50px;">
 <a href="tel://0032 473 384 410">+32 473 384 410</a>
</div>
</div>
</div>
<div class="footer-copyright grey darken-3" style="font-size: 8pt;color:grey;" class='white-text'>
Created by Bauduin Jean-Christophe
</div>
</footer>
  </body>
</html>
